html, body {
  overflow-x: hidden; /* optional */
  height: 100%;
}
::-webkit-scrollbar {
  background: var(--darker-bg);
  width:0px;
}
::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 100px;
  width: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--medium-shade);
}

