html, body {
  height: 100%;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  background: var(--darker-bg);
  width:0px;
}
::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 100px;
  width: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--medium-shade);
}

.mainButton {
    display: flex;
    justify-content: center;
    margin: 0 5px;
    padding: 20px 40px;
    color: var(--font-color);
    background: transparent;
    border-radius: 24px;
    backdrop-filter: brightness(85%);
    box-shadow: 3px 5px 10px var(--darker-bg);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    text-decoration: none;
    &:hover {
        backdrop-filter: brightness(110%);
        box-shadow: 3px 3px 8px var(--darker-bg);
        transform: scaleX(1.1) scaleY(1.1);
    }
}

input {
    padding: 0.75rem 1.25rem;
    border: none;
    color: var(--font-color);
    backdrop-filter: brightness(90%);
    outline: none;
    font-size: 1.1rem;
}

@media(max-width:1024px){
  div #root {
    min-height: 100vw;
  }
}