.disclaimer {
    & > p {
        font-size: large;
        text-align: justify;
    }
}



.form {
    & > h1 {
        font-size: 21px;
        font-weight: 600;
    }
    form {
        p {
            font-size: 18px;
            font-weight: 500;
            user-select: none;
        }
        input { 
            color-scheme: light dark;
            margin-top: 5px;
            box-shadow: 2px 4px 8px var(--darker-bg);
            accent-color: var(--medium-shade);
            margin-right: 4px;
            &:not([type="radio"]):not([type="checkbox"]) {
                width: 100%;
            }
        }
        label {
            & > p {
                line-height: 1.5rem;
                &::before {
                    content: '⭐';
                }
            }
        }
        
        & > fieldset {
            & > legend {
                line-height: 1.5rem;
                &::before {
                    content: '⭐';
                }
            }
            & > label {
                font-size: 17px;
                display: flex;
                align-items: center;
                flex-direction: row; 
            }
        }
        > button:hover {
            transform: scale(1.03) !important;
        }
    }
}
