.headerButton {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    & svg {
        padding: 0rem;
    }
}

.redirectButtons { 
    & > ul {
        display: flex;
        padding-inline-start: 0;
        margin: 0.5rem;
        transition: all 0.5s ease;
    }
    & .navActive {
        display: none;
    }
    & li {
        display: flex;
        width: 12vw;
        height: 3rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    & .navbarLink {
        & li {
            border-radius: 24px;        
        }
    }
}


.active {
    & li{
        border-radius: 24px 24px 0 0 !important;
    }
    &::after {
        display: block;
        content: "";
        width: auto;
        border-bottom: solid 1px;
    }
}


.logo-visible {
    margin-right: 5rem;
    margin-top: 0.7rem;
    opacity: 1;
    animation: enlarge 1s ease-in-out infinite;
    & .navigation-logo {
        width: 100px;
        height: 30px;   
    }
}

.logo-hidden {
    margin-right: 0;
    margin-top: 0;
    opacity: 0;
    & .navigation-logo {
        width: 0;
        height: 0;
    }    
    & a {
        pointer-events: none;
        transition: all 0.5s ease;
    }
}


.loginCartDiv {
    display: flex;
    flex-direction: row;
}

.redirectButtons ul li:hover, 
.headerButton:hover, 
.loginButton:hover, 
.cartButton:hover, 
.hamburgerIcon:hover{
    background-color: var(--darker-bg);
    transition: background-color .3s;
    box-shadow: 1px 1px 1px rgb(13, 12, 12);

}
.sidebar ul li:hover {
    color: rgb(143, 142, 142);
    transition: background-color .3s;
    backdrop-filter: blur(100px);
}

ul {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.hamburgerIcon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    cursor: pointer;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media( width < 1024px ) {
        & {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.navActive .bar:nth-child(2){
            opacity: 0;
        }
        &.navActive .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        &.navActive .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}
.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 2.5px auto;
    background-color: var(--font-color);
    transition: all 0.3s ease-in-out;
}
.sidebar {
    list-style-type: none;
    position: absolute;
    top: -100vh;
    height: 100vh;
    width: 100vw;
    z-index: 18;
    backdrop-filter: blur(20px) brightness(70%);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
    &.navActive {
        top: 0;
    };
    & ul {
        padding-top: 4.5rem;
        list-style-type: none;
        margin: 0;
        padding-inline-start: 0;
        font-size: 3vh;
    };
    & ul li {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        padding: 40px 40vw;
    };
    @media (max-width: 1024px){
        display: flex;
    }
}


.sidebarLink.active::after {
    content: "";
    position: absolute;
    right: 0;
    height: auto;
    width: 4px;
    background-color: var(--font-color);
    border-radius: 2px;
}