.btn-1 {
    display: flex;
    justify-content: center;
    margin: 0 5px;
    padding: 20px 40px;
    border: 1px solid antiquewhite;
    backdrop-filter: blur(6px) brightness(110%);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
}
.btn-1:hover {
    backdrop-filter: blur(6px) brightness(150%);
}



.image-wrap {
    width: 100vw;
    position: relative;
    display: inline-block;
    height: 45rem;
}
.image-wrap img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    position: relative;
    object-fit: cover;
    object-position: 100% 75%;
    vertical-align: bottom;
}
.image-text {
    top: 10rem;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    font-size: 0.8rem;
}
.image-wrap .image-text h1{
    font-size: 3em;
    overflow: hidden;
}
.image-wrap .image-text h3{
    padding: 20px 0;
    font-size: 1.3rem;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}


@media only screen and (max-width: 1000px) {
    .image-wrap img {
        filter: brightness(50%);
        object-position: 35% 75%;
        vertical-align: bottom;
    }
    .sec-1 {
        background-image: url(kawusiabody.jpg);
        background-position-x: min(550px,57%);
        background-position-y: -200px;
        padding-left: 10px;
    }
    
    .background-image img {
        display: none;
    }
}




.sec4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    flex-direction: column;
    padding: 1rem 0;
}

.sec4 > h1 {
    margin: 0;
}

.sec4div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80vw;
    padding: 1rem 0;
    transition: all 0.3s ease-in;
}
.qns {
    cursor: pointer;
    backdrop-filter: brightness(60%);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in;
}

.qns div {
    width: 90%;
}

.qns div h4 {
    line-height: 30px;
    font-size: 1rem;
}

.qns div p {
    height: auto;
    overflow-y: hidden;
    line-height: 17px;
    font-size: 0.8rem;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    padding: 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: none;
    transform: none;
}

.add:hover {
    box-shadow: none;
    transform: none;
}

.qns:hover {
    backdrop-filter: brightness(45%);
}

.content-active-not {
    display: none;
}

.content-active {
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .sec4 {
        display: flex;
    }
}




.sec-5 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec5 {
    backdrop-filter: brightness(50%);
    width: 100%;
    padding: 5rem;
    height: auto;
    color: antiquewhite;
}
.sec5 h1 {
    font-size: 2.4rem;
}
.sec5 .container {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.sec5 .container > div p {
    cursor: pointer;
}
.sec5 h3 {
    font-size: 1.1rem;
    padding: 10px 0;
    padding-bottom: 5px;
}
.sec5 p, .sec5 a {
    font-size: 0.7rem;
    margin-bottom: 10px;
    text-decoration: none;
    color: antiquewhite;
}
.sec5 .container div:nth-child(2) {
    margin-left: 0px;
    width: 69%;
}
.sec5 form {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.sec5 .home-input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid antiquewhite;
    margin: 10px;
    line-height: 20px;
    color: antiquewhite;
    transition: none;
}

.sec5 > textarea {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid antiquewhite;
    margin: 10px;
    line-height: 20px;
    color: antiquewhite;
    overflow: hidden;
    resize: none;
}
.sec5 > input::placeholder, textarea::placeholder {
    color: rgb(193, 196, 212);
}
.sec5 .btn-1 {
    font-size: 1rem;
    margin-top: 20px;
    color: antiquewhite;
    border: 1px solid antiquewhite;
}
.sec5 .btn-1:hover {
    transform: scaleX(103%) scaleY(103%);
}
.sec5 > .container div:nth-child(3) {
    height: 100px;
    background-color: transparent;
    margin: 80px 0;
}
.sec5 > .container div:nth-child(4) {
    display: flex;
    flex-direction:column;
}
.sec5 a:hover {
    background-color: antiquewhite;
    color: #7782da;
}
@media only screen and (max-width: 1000px) {
    .sec-5 {
        margin: 0;
    }
    .sec5 {
        padding: 30px 50px;
    }
}