@import "tailwindcss";

body {
  background: url(images/Somnium/Somnium-Background2.svg);
  color: var(--font-color);
  margin: 0;
  font-size: 1.1rem;
  font-family: "Spectral", serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --header-footer-bg: #24201d;
    --90-shade: #3f352c;
    --80-shade: #382f27;
    --input-bg: #382f27;
    --button-hover-bg: #312922;
    --darker-bg: #473c32;
    --hover-color: #594e36;
    --medium-shade: #8f785d;
    --accents: ;
    --font-color: antiquewhite;

    /* font sizes*/
    --font-h3: 18px;
    --font-h2: 30px;
    --font-h1: 48px;
}
