.menu-container1 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    background-color: var(--medium-shade);
}

.classic-menu, .addition-menu, .special-menu, .summer-menu, .tea-menu {
    padding: 20px 80px 20px 40px;
    background-color: var(--darker-bg);
    border-radius: 10px;
    margin: 10px 0;
}

.menu-container2 div:nth-child(2), div:nth-child(4) {
    padding-inline-start: 40px;
    background-color: var(--header-footer-bg);
}

.item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container2 div ul {
    max-height: 0;
    opacity: 0;
    transition: max-height 0ms 0ms, opacity 500ms 0ms;
}

.menu-container2 div ul.menu-active {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0ms 0ms, opacity 1500ms 0ms;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    position: relative;
    padding-bottom: 4px;
    margin: 10px 0;
}

.menu-list li:nth-child(1) {
    margin-top: 0;
}

.menu-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--font-color);
    bottom: 0;
    left: 0;
}

.menu-name {
    flex-shrink: 0;
}

.menu-dots {
    flex: 1;
    border-bottom: 1px dotted antiquewhite;
    height: 15px;
}

.menu-price {
    flex-shrink: 0;
}

button {
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--font-color);
    background-color: var(--medium-shade);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

button:hover {
    background-color: var(--hover-color);
}
