.menuContainer{
    & > div:nth-child(even) {
        backdrop-filter: blur(3px) brightness(70%);
        :hover {
            backdrop-filter: blur(3px) brightness(60%);
        }
    }
    & > div {
        & > ul {
            padding: 10px;
            display: flex;
            max-height: 0;
            opacity: 0;
            visibility: 0;
        }
        & > .menu-list {
            display: block;
            max-height: 1500px;
            opacity: 1;
            visibility: 1;
        }
    }
}

.menu-item { 
    align-items: center;
    position: relative;
    padding-bottom: 4px;
    margin: 10px 0;
    cursor: pointer;
    pointer-events: none;
    margin-bottom: 0;
    width: 100%;
    ::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: var(--font-color);
        bottom: 0;
        left: 0;
    }
    & .menu-list {
        padding-inline-start: 0;
        & li:nth-child(1) {
            margin-top: 0;
        }
    }
    & .menu-price {
        text-align: right;
    }
}
.menu-ingredients {
    display: flex;
    font-size: 0.8rem;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 1;
    @media (max-width: 1024px) {
        line-height: 1.2;
        font-size: 0.9rem;
    }
}