.menu-container1 {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.menu-container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.classic-menu, .subs-menu, .special-menu, .summer-menu, .tea-menu {
    padding: 10px 2em;
    backdrop-filter: blur(5px) brightness(85%);
    margin: 20px 0;
    box-shadow: 3px 5px 7px var(--darker-bg);
    transition: transform 0.1s ease-in-out;
    max-width: 30rem;
    min-width: 20rem;
}

.classic-menu:hover, .subs-menu:hover, .special-menu:hover, .summer-menu:hover, .tea-menu:hover {
    backdrop-filter: brightness(75%);
    cursor: pointer;
    transform: scaleX(101%) scaleY(101%);
}

.menu-container2 div:nth-child(2), .menu-container2 div:nth-child(4) {
    backdrop-filter: blur(3px) brightness(70%);
}
.menu-container2 div:nth-child(2):hover, .menu-container2 div:nth-child(4):hover {
    backdrop-filter: blur(3px) brightness(60%);
}

.item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.menu-container2 div ul {
    padding: 10px;
    display: flex;
    max-height: 0;
    opacity: 0;
    visibility: 0;
}

.menu-container2 div ul.menu-active {
    display: block;
    max-height: 1000px;
    opacity: 1;
    visibility: 1;
    transition: max-height 0ms 0ms, opacity 1500ms 0ms;
}

.menu-active > .menu-item {
    width: 100%;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    position: relative;
    padding-bottom: 4px;
    margin: 10px 0;
    cursor: pointer;
    width: 0;
}

.menu-list {
    padding-inline-start: 0;
}

.menu-list li:nth-child(1) {
    margin-top: 0;
}

.menu-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--font-color);
    bottom: 0;
    left: 0;
}

.menu-name {
    flex-shrink: 0;
}

.menu-dots {
    flex: 1;
    border-bottom: 1px dotted antiquewhite;
    height: 15px;
}

.item-header > button {
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 70px;
    width: 100px;
    color: antiquewhite;
    background: transparent;
    border: none;
    transform: none;
    box-shadow: none;
}

.item-header > button:hover {
    transform: none;
    box-shadow: none;
}
@media(max-width:1000px) {
    .item-header > button {
        height: 60px;
        width: 75px;
    }
}