.headContainer {
    background-color: var(--header-footer-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: antiquewhite;
}
.loginCartDiv {
    position: relative;
}
.topHeader {
    width: 94vw;
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    z-index: 20;
}
.headContainer div:nth-child(1) img{
    display: block;
    padding-top: 0px;
    width: 250px; 
    cursor: pointer;
}
.headerButton {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

.redirectButtons {
    width: 100vw;
    background-color: var(--header-footer-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.redirectButtons ul {
    display: flex;
}

.redirectButtons.navActive {
    display: none;
}

.current {
    text-decoration: none;
    color: antiquewhite;
}

.navbarLink.active::after {
    display: block;
    content: "";
    width: auto;
    border-bottom: solid 1px antiquewhite;
}

.headContainer .redirectButtons ul li {
    display: flex;
    width: 14vw;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.loginCartDiv {
    display: flex;
    flex-direction: row;
}

.sidebar ul li:hover, .headContainer .redirectButtons ul li:hover, .headerButton:hover, .loginButton:hover, .cartButton:hover, .hamburgerIcon:hover{
    background-color: var(--darker-bg);
}

ul {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.hamburgerIcon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    cursor: pointer;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 2.5px auto;
    background-color: antiquewhite;
    transition: all 0.3s cubic-bezier(0, 0.8, 0, 1);
}
.sidebar {
    list-style-type: none;
    position: fixed;
    left: -29vmin;
    height: 100vh;
    width: 29vmin;
    z-index: 10;
    background-color: var(--header-footer-bg);
    padding-top: 150px;
    transition: all 0.5s ease-out;
}
.sidebar.navActive {
    left: 0;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
}
.sidebar ul li {
    cursor: pointer;
    padding: 20px 15px;
}
.sidebarLink.active::after {
    content: "";
    position: absolute;
    right: 0;
    height: auto;
    width: 4px;
    background-color: antiquewhite;
    border-radius: 2px;
}



@media(max-width:3000px){
    .hamburgerIcon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hamburgerIcon.navActive .bar:nth-child(2){
        opacity: 0;
    }
    .hamburgerIcon.navActive .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburgerIcon.navActive .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}