.scrollToTopButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5rem;
    right: 3.5rem;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    background-color: transparent;
    backdrop-filter: brightness(80%);
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
}


.scrollToTopButton.show {
    opacity: 1;
    pointer-events: auto;
}
