.grid-products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 1rem;
    width: 10rem;
}

.shop-item {
    width: 17rem;
    height: 30rem;
    background-color: var(--darker-bg);
    box-shadow: 5px 5px 5px rgb(53, 53, 53);
}

.image-container {
}

.other-traits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.item-image {
    width: 100%;
    height: 20rem;
}