/*---------------------- Navigation Section ----------------------*/


input::placeholder {
    color: rgb(211, 209, 206);
}

.profile-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--font-color);
}


@media(max-width:1000px) {
    .search-right {
        width: 100vw;
        padding-left: 11.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}



/*---------------------- Sidebar Section ----------------------*/
.shopSidebarContainer {
    padding: 0;
    padding-left: 1rem;
    width: 13%;
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
}
.shopSidebarContainer-mobile {
    display: none;
}

.shopSidebar-title {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
}



/*---------------------- Product Section ----------------------*/
.productSection {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
}


.card-image {
    width: 13rem;
}

.card-title {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    & > img {
        height: 30px;
        width: auto;
    }
}


.card-reviews {
    margin-bottom: 1rem;
    display: flex;
}

.rating-stars {
    color: bisque;
}

.total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-icon {
    color: var(--font-color);
}

/*---------------------- Category Section ----------------------*/
.categoryTitle {
    font-size: 24px;
    font-weight: 600;
    margin: 6px 0;
}

.shopSidebar-items {
    width: 7rem;
    @media(max-width:1000px){
        .shopSidebar-items {
            width: 7rem;
        }
    }
}

.shopSidebar-label-container {
    width: 9.5rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    margin-bottom: 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media(max-width:1000px){
        width: 12rem;
    }
    &:hover > input ~.checkmark {
        background-color: rgb(192, 191, 190);
    }
    & > input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        & :checked ~.checkmark {
            background-color: var(--darker-bg);
        }
    }
}
.input {
    width: 80%;
}



