/*---------------------- Navigation Section ----------------------*/
nav {
    display: flex;
    position: sticky;
    top: 3.9rem;
    backdrop-filter: blur(5px) brightness(80%);
    border-bottom: 1.2px solid var(--font-color);
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    z-index: 2;
}

.search-right {
    width: 100%;
    padding-left: 17.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

input::placeholder {
    color: rgb(211, 209, 206);
}

.profile-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--font-color);
}


@media(max-width:1000px) {
    nav {
        top: 6.6rem;
    }
    .search-right {
        width: 100vw;
        padding-left: 11.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}



/*---------------------- Sidebar Section ----------------------*/
.shopSidebarContainer {
    padding: 0;
    padding-left: 1rem;
    width: 13%;
    display: flex;
    position: absolute;
    top: 9rem;
    left: 0;
    flex-direction: column;
}

.shopSidebar-title {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.logo-container {
    position: relative;
    z-index: 4;
}

@media (max-width:769px){
    .shopSidebar {
        width: 25%;
    }
}
@media (max-width: 450px){
    .shopSidebar {
        width: 35%;
    }   
}



/*---------------------- Product Section ----------------------*/
.productSection {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.card-container {
    top: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 18.9rem;
    margin-top: 2rem;
    z-index: -2;
    min-height: 100vh;
}

.card {
    backdrop-filter: brightness(100%) blur(5px);
    max-width: 300px;
    margin: 1.5rem;
    padding: 1.5rem;
    cursor: pointer;
    box-shadow: 2px 2px 10px var(--darker-bg);
    transition: all 0.2s ease-in-out;
}

.card:hover {
    backdrop-filter: brightness(90%);
    transform: scaleX(102%) scaleY(102%);
}

.card-image {
    width: 13rem;
}

.card-title {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.card-title > img {
    height: 30px;
    width: auto;
}

.card-reviews {
    margin-bottom: 1rem;
    display: flex;
}

.rating-stars {
    color: bisque;
}

.total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-icon {
    color: var(--font-color);
}


@media(max-width:1000px){
    .card-container {
        margin-left: 13rem;
    }
}


/*---------------------- Recommended Section ----------------------*/
.recommended-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20rem;
    gap: 0.5rem;
}

.recommended-title {
    margin: 1.25rem 0 1.25rem 20rem;
    font-size: 1.25rem
}

.rec-btn {
    width: 9rem;
    color: var(--font-color);
    padding: 1rem 2rem;
    margin-right: 6px;
    background: transparent;
    border: none;
    backdrop-filter: blur(5px) brightness(90%);
    cursor: pointer;
}

.rec-btn:hover {
    backdrop-filter: brightness(80%);
}


@media(max-width:1000px){
    .recommended-title {
        margin-left: 18rem;
    }

    .recommended-flex {
        margin-left: 13rem;
    }
}

/*---------------------- Category Section ----------------------*/
.categoryDiv {
    display: block;
}

.shopSidebar-cat-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0.3rem 0;
}

.shopSidebar-items {
    width: 7rem;
}

.shopSidebar-label-container {
    width: 9.5rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    margin-bottom: 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shopSidebar-label-container > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    height: 1rem;
    width: 1rem;
    background-color: var(--font-color);
    border-radius: 50%;
}

.input {
    width: 80%;
}

.shopSidebar-label-container:hover > input ~.checkmark {
    background-color: rgb(192, 191, 190);
}

.shopSidebar-label-container > input:checked ~.checkmark {
    background-color: var(--darker-bg);
}



@media(max-width:1000px){
    .shopSidebar-label-container {
        width: 12rem;

    }
    .shopSidebar-items {
        width: 7rem;
    }
}


/*---------------------- Price Section ----------------------*/